$colors: (
  'black': #1a2433,
  'darkBlue': #546583,
  'lightBlue': #eaeff7,
  'red': #f82858,
  'sunset': #FF5858,
  'purpleBright': #FF0080,
  'purple': #fae4fe,
  'cyan': #a8ebe9,
  'blue': #3585DF,
  'blueBright': #0060e9,
  'blueDark': #0b119b,
  'teal': #80bad0,
  'white': #f9f9f9,
  'orange': #FFA626,
  'yellow': #ffd45b,
  'green': #259c63,
  'greenBright': #0fd792,
  'lightGray': #f1f5fa,
  'gray': #eeeeee,
  'mediumGray': #D5D7DB,
  'darkGray': #999999,
);

$sizes: (
  'xxs': 0.25rem,
  'xs': 0.5rem,
  'sm': 0.75rem,
  'base': 1rem,
  'md': 1.25rem,
  'lg': 1.5rem,
  'xl': 2rem,
  '2xl': 2.5rem,
  '3xl': 3rem,
  '4xl': 3.5rem,
  '5xl': 4rem,
  '6xl': 4.5rem,
);

$screens: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

$fontMontserrat: 'Montserrat', sans-serif;