/* Sofia Pro Font */
@import url("https://use.typekit.net/mal3jfx.css");
/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
/* Extra Reset Style */
@import url("./reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sofia text-black bg-lightGray;
  }
}

@layer components {
  .section {
    @apply py-3 px-[5%] md:px-[15%];
  }
  .overlay.active {
    @apply !translate-x-0
  }
  .pagination.active {
    @apply !bg-orange;
  }
  .active [data-id=readmore-chevron]{
    @apply !rotate-0;
  }
  .filter.active {
    @apply bg-black text-white border-black;
  }
  .slider-pagination .active {
    @apply fill-[none];
  }
  .trophy::before {
    @apply bg-[url('./assets/trophy.svg')] bg-[length:25%] bg-no-repeat bg-left-top absolute left-3 right-0 top-0 bottom-0 content-[""] opacity-70 -z-[1];
  }
  .live-btn {
    @apply overflow-hidden relative;
  }
  .live-btn::after {
    @apply content-["Live!"] bg-white rotate-45 w-16 absolute -right-4 top-1.5 text-sm font-medium text-sunset;
  }
  .text-gradient {
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .vignette {
    @apply relative after:bg-gradient-to-t after:from-black after:to-transparent after:absolute after:top-0 after:bottom-0 after:left-0 after:right-0 after:content-empty after:block;
  }
  .achievement-overlay {
    @apply relative after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:pointer-events-none after:content-empty after:bg-orange after:bg-opacity-20;
  }
}

@layer utilities {
  .pl-page {
    @apply pl-[5%] md:pl-[15%]
  }
  .pr-page {
    @apply pr-[5%] md:pr-[15%]
  }
  .px-page {
    @apply px-[5%] md:px-[15%]
  }
}

/* .fullscreen {
  @apply fixed top-0 bottom-0 right-0 left-0 z-50 bg-black bg-opacity-50 backdrop-blur-sm px-2;
} */