* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
}

button {
	background: none;
	cursor: pointer;
	user-select: none;
	font-weight: inherit;
}

button,
a {
	color: inherit;
}

select,
button,
textarea {
	font-family: inherit;
}

input,
button,
textarea {
	border: none;
}

textarea {
	resize: none;
}

textarea:focus {
	outline: none;
}

ul,
li {
	list-style: none;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
}
