.pagination {
  display: flex;
  gap: map.get($sizes, "base");
  width: map.get($sizes, "full");
  flex-direction: column-reverse;
  @include query(map.get($screens, "sm")){
    flex-direction: row;
  }
  &--section {
    display: flex;
    height: map.get($sizes, "full");
  }
  &--link {
    display: flex;
    align-items: center;
    padding: map.get($sizes, "xs") map.get($sizes, "sm");
    border-radius: map.get($rounded, "base");
    height: map.get($sizes, "full");
    font-weight: 500;
  }
  &--paragraph {
    display: flex;
    height: map.get($sizes, "full");
    align-items: flex-end;
  }
  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: map.get($sizes, "full");
    .active {
      background-color: map.get($colors, "orange");
    }
  }
}