.section-cards {
	&--grid {
		display: grid;
    grid-auto-flow: row;
		gap: map.get($sizes, "sm");
    margin-bottom: map.get($sizes, "sm");
    @include query(map.get($screens, "sm")){
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      background-color: map.get($colors, "lightGray");
      border-radius: map.get($rounded, "base");
      

      &--link {
        gap: map.get($sizes, "sm");
        @include query(map.get($screens, "sm")){
          gap: map.get($sizes, "md");
        }
        @include query(map.get($screens, "md")){
          gap: map.get($sizes, "xl");
        }
        @include query(map.get($screens, "lg")){
          gap: map.get($sizes, "2xl");
        }
        @include query(map.get($screens, "xl")){
          gap: map.get($sizes, "4xl");
        }
        width: 100%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: map.get($sizes, "md");
      }
      &--line {
        width: map.get($sizes, "full");
        opacity: 0.5;
      }
      &--section {
        display: flex;
        flex-direction: column;
        &-flex {
          &:nth-child(1){
            align-items: flex-start;
          }
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: map.get($sizes, "full");
          height: map.get($sizes, "full");
          flex-direction: column;
          gap: map.get($sizes, "sm");
        }
        &-one {
          justify-content: space-around;
          height: 100%;
        }
        &-two {
          width: 100%;
          height: map.get($sizes, "full");
          gap: map.get($sizes, "xs");
        }
      }
      &--type {
        color: map.get($colors, "darkGray");
        &--link {
          text-decoration: underline;
        }
      }
      &--price {
        font-size: map.get($sizes, "xl");
      }
      &--play {
        height: map.get($sizes, "full");
        display: grid;
        place-content: center;
        text-align: center;
        color: map.get($colors, "white");
        font-weight: 500;
        border-radius: map.get($rounded, "sm");
        font-size: map.get($sizes, "md");
        width: 100%;
        /* max-width: map.get($sizes, "9xl"); */
        @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")))
      }
      &--review {
        text-align: center;
        font-weight: 500;
        font-size: map.get($sizes, "sm");
        color: map.get($colors, "white");
        background-color: map.get($colors, "darkGray");
        border-radius: map.get($rounded, "sm");
        padding: 5px 10px;
      }
      &--logo {
        max-width: map.get($sizes, "8xl");
        width: 100%;
        height: map.get($sizes, "6xl");
        background-color: map.get($colors, "green");
        border-radius: map.get($rounded, "xl");
        margin-left: auto;
        margin-right: auto;
      }
      &--bonus {
        font-weight: 300;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &--value {
          font-weight: 700;
          color: map.get($colors, "orange");
        }
      }
    }
	}
}
