.section-cards {
  &--list {
    display: grid;
    grid-auto-flow: row;
    gap: map.get($sizes, "sm");
    margin-bottom: map.get($sizes, "sm");
    .card {
      display: flex;
      background-color: map.get($colors, "lightGray");
      border-radius: map.get($rounded, "base");
      align-items: center;
      justify-content: space-between;
      gap: map.get($sizes, "md");
      padding: map.get($sizes, "sm");
      &--line {
        width: map.get($sizes, "full");
        opacity: 0.5;
        @include query(map.get($screens, "sm")){
          display: none;
        }
      }
      &--section {
        display: flex;
        flex-direction: column;
        &-flex {
          display: flex;
          justify-content: space-between;
          align-items: initial;
          width: map.get($sizes, "full");
          height: map.get($sizes, "full");
          flex-direction: column;
          gap: map.get($sizes, "sm");
          @include query(map.get($screens, "sm")){
            flex-direction: row !important;
            align-items: center;
          }
        }
        &-two {
          height: map.get($sizes, "full");
          gap: map.get($sizes, "xs");
        }
      }
      &--type {
        color: map.get($colors, "darkGray");
        &--link {
          text-decoration: underline;
        }
      }
      &--price {
        font-size: map.get($sizes, "xl");
      }
      &--play {
        height: map.get($sizes, "full");
        display: grid;
        place-content: center;
        text-align: center;
        color: map.get($colors, "white");
        font-weight: 500;
        border-radius: map.get($rounded, "sm");
        font-size: map.get($sizes, "md");
        padding: 0 map.get($sizes, "sm");
        @include query(map.get($screens, "lg")){
          width: 200px;
        }
        @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")))
      }
      &--review {
        text-align: center;
        font-weight: 500;
        font-size: map.get($sizes, "sm");
        color: map.get($colors, "white");
        background-color: map.get($colors, "darkGray");
        border-radius: map.get($rounded, "sm");
        padding: 5px 10px;
      }
      &--logo {
        width: 7rem;
        height: map.get($sizes, "2xl");
        background-color: map.get($colors, "green");
        border-radius: map.get($rounded, "xl");
        margin-right: auto;
        margin-left: auto;
      }
      &--bonus {
        font-weight: 300;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: auto;
        margin-left: 0;
        @include query(map.get($screens, "sm")){
          margin-left: auto !important;
        }
        &--value {
          font-weight: 700;
          color: map.get($colors, "orange");
        }
      }
    }
  }
  /* &--view {
    display: none;
    @include query(map.get($screens, "sm")){
      display: flex;
      justify-content: flex-end;
    }
    gap: map.get($sizes, "md");
    .active {
      color: map.get($colors, "black") !important;
    }
  } */
}