.button {
  border-radius: map.get($rounded, "base");
  padding: 0 0.75rem;
  &-filter {
    width: map.get($sizes, "full");
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid map.get($colors, "black");
    font-size: map.get($sizes, "lg");
  }
  &-filters-exit {
    margin-left: auto;
    color: map.get($colors, "white");
  }
  &-filters-clear {
    background-color: map.get($colors, "white");
    position: relative;
    font-weight: 600;
    font-size: map.get($sizes, "md");
    padding: map.get($sizes, "sm");
    margin-top: auto;
    width: map.get($sizes, "full");
  }
  &-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 map.get($sizes, "xs");
    font-size: map.get($sizes, "base");
    font-weight: 500;
    width: map.get($sizes, "full");
    color: map.get($colors, "white");
    background-color: map.get($colors, "black");
  }
  &-related {
    width: map.get($sizes, "full");
    height: map.get($sizes, "4xl");
    color: map.get($colors, "white");
    font-size: map.get($sizes, "md");
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: map.get($rounded, "base");
    padding: 0 map.get($sizes, "sm");
    @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")));
  }
  &-faq {
    display: flex;
    align-items: center;
    font-weight: 700;
    width: map.get($sizes, "full");
    justify-content: space-between;
    font-size: map.get($sizes, "base");
    &--icon {
      transform: rotate(180deg);
      transition: transform 0.25s;
    }
  }
  &-submit {
    font-size: map.get($sizes, "md");
    font-weight: 500;
    color: map.get($colors, "white");
    @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")));
    max-width: 10rem;
    padding: map.get($sizes, "sm") 0;
    width: map.get($sizes, "full");
  }
  &-view {
    color: map.get($colors, "darkGray");
  }
}