.section-comment {
  &--form {
    display: flex;
    flex-direction: column;
    &--stars {
      color: map.get($colors, "gray");
    }
    &--textarea {
      background-color: map.get($colors, "gray");
      width: map.get($sizes, "full");
      height: 10rem;
      padding: map.get($sizes, "lg");
      margin-bottom: map.get($sizes, "base");
      font-size: map.get($sizes, "base");
      border-radius: map.get($rounded, "base");
      &::placeholder {
        font-weight: 500;
        color: map.get($colors, "darkGray");
      }
    }
  }
}