.section-faq {
  background-color: map.get($colors, "gray");
  display: flex;
  flex-direction: column;
  &--header {
    margin: map.get($sizes, "md") 0;
  }
  &--item {
    padding: map.get($sizes, "sm") 0;
    border-top: 1px solid map.get($colors, "darkGray");
  }
  &--paragraph {
    display: none;
  }
  .active {
    [data-id="readmore-chevron"]{
      transform: rotate(0deg) !important;
    }
  }
}