.pagination {
  display: flex;
  gap: map.get($sizes, "base");
  width: 100%;
  &--section {
    display: flex;
    height: 100%;
  }
  &--link {
    display: flex;
    align-items: center;
    padding: 0 map.get($sizes, "sm");
    border-radius: 0.3rem;
    height: 100%;
    font-weight: 500;
  }
  &--paragraph {
    display: flex;
    height: 100%;
    align-items: flex-end;
  }
  &--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .active {
      background-color: map.get($colors, "orange");
    }
  }
}