.section-related {
  margin-top: map.get($sizes, "2xl");
  &--cards {
    display: flex;
    flex-direction: column;
    gap: map.get($sizes, "sm");
    margin: map.get($sizes, "base") 0;
    @include query(map.get($screens, "sm")){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--card {
    background-color: map.get($colors, "black");
    color: map.get($colors, "white");
    gap: map.get($sizes, "2xl");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: map.get($sizes, "base");
    border-radius: map.get($rounded, "base");
    h3 {
      font-size: map.get($sizes, "full");
      font-weight: 700;
    }
  }
}