.section {
  padding: map.get($sizes, "sm") 5%;
  @include query(map.get($screens, "md")){
    padding: map.get($sizes, "sm") 15% !important;
  }
  &-filters {
    display: flex;
    gap: map.get($sizes, "xl");
    margin: map.get($sizes, "xl") 0;
    &--list {
        display: flex;
        gap: map.get($sizes, "sm");
        align-items: center;
        height: 100%;
    }
    &--item {
      padding: 0 map.get($sizes, "xs");
      border-radius: 0.30rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #2e3746;
      gap: map.get($sizes, "sm");
      color: map.get($colors, "white");
      font-size: map.get($sizes, "base");
      svg {
        cursor: pointer;
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      transform: translateX(-100%);
      transition: transform 0.5s ease;
      left: 0;
      top: 0;
      bottom: 0;
      justify-content: center;
      align-items: flex-end;
      z-index: 50;
      background-color: map.get($colors, "black");
      padding: map.get($sizes, "sm");
      width: 60%;
    }
    .active {
      transform: translateX(0) !important;
    }
  }

  &-cards {
    display: grid;
    grid-auto-flow: row;
    gap: map.get($sizes, "sm");
    .card {
      display: flex;
      background-color: map.get($colors, "lightGray");
      border-radius: 0.30rem;
      /* border: 1px solid green; */
      align-items: center;
      justify-content: space-between;
      gap: map.get($sizes, "md");
      padding: map.get($sizes, "sm");
      &--section {
        display: flex;
        flex-direction: column;
        &-two {
          height: 100%;
          gap: map.get($sizes, "xs");
        }
      }
      &--type {
        color: map.get($colors, "darkGray");
        &--link {
          text-decoration: underline;
        }
      }
      &--price {
        font-size: map.get($sizes, "xl");
      }
      &--play {
        height: 100%;
        display: grid;
        place-content: center;
        color: map.get($colors, "white");
        font-weight: 500;
        border-radius: 0.20rem;
        font-size: map.get($sizes, "md");
        @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")))
      }
      &--review {
        text-align: center;
        font-weight: 500;
        font-size: map.get($sizes, "sm");
        color: map.get($colors, "white");
        background-color: map.get($colors, "darkGray");
        border-radius: 0.20rem;
        padding: 5px 10px;
      }
      &--logo {
        width: 7rem;
        height: map.get($sizes, "2xl");
        background-color: map.get($colors, "green");
        border-radius: 1rem;
      }
      &--bonus {
        font-weight: 300;
        &--value {
          font-weight: 700;
          color: map.get($colors, "orange");
        }
      }
    }
  }
  &-info {
    margin-top: map.get($sizes, "6xl");
    &--header {
      margin: map.get($sizes, "lg") 0;
    }
    &--paragraph {
      margin-top: map.get($sizes, "sm");
      font-weight: 500;
    }
  }
  &-related {
    margin-top: map.get($sizes, "2xl");
    &--cards {
      display: flex;
      flex-direction: column;
      gap: map.get($sizes, "sm");
      margin: map.get($sizes, "base") 0;
      @include query(map.get($screens, "sm")){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &--card {
      background-color: map.get($colors, "black");
      color: map.get($colors, "white");
      gap: map.get($sizes, "2xl");
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: map.get($sizes, "base");
      border-radius: 0.3rem;
      h3 {
        font-size: 100%;
        font-weight: 700;
      }
    }
  }
  &-faq {
    background-color: map.get($colors, "gray");
    display: flex;
    flex-direction: column;
    &--header {
      margin: map.get($sizes, "md") 0;
    }
    &--item {
      padding: map.get($sizes, "sm") 0;
      border-top: 1px solid map.get($colors, "darkGray");
    }
    /* There is still an issue with max height animation */
    &--paragraph {
      max-height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: max-height 0.5s, opacity 0.5s;
    }
    .active {
      [data-id="readmore-paragraph"]{
        max-height: 100px;
        opacity: 1;
      }
      [data-id="readmore-chevron"]{
        transform: rotate(0deg) !important;
      }
    }
  }
  &-comment {
    &--form {
      display: flex;
      flex-direction: column;
      &--stars {
        color: map.get($colors, "gray");
      }
      &--textarea {
        background-color: map.get($colors, "gray");
        width: 100%;
        height: 10rem;
        padding: map.get($sizes, "lg");
        margin-bottom: map.get($sizes, "base");
        font-size: map.get($sizes, "base");
        border-radius: 0.3rem;
        &::placeholder {
          font-weight: 500;
          color: map.get($colors, "darkGray");
        }
      }
    }
  }
  &-reviews {
    &--header {
      margin-bottom: map.get($sizes, "sm");
    }
    &--content {
      display: flex;
      flex-direction: column;
      gap: map.get($sizes, "xs");
      .review {
        height: 100px;
        background-color: map.get($colors, "gray");
        display: flex;
        align-items: center;
        gap: map.get($sizes, "md");
        padding: map.get($sizes, "lg") map.get($sizes, "sm");
        &--user {
          &--content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          &--icon {
            border-radius: 100%;
            height: 50px;
            width: 50px;
            background-color: map.get($colors, "darkGray");
          }
          &--rating {
            color: map.get($colors, "orange");
          }
        }
      }
    }
  }
}