.grid--related-offers {
  &--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: map.get($sizes, "base");
    margin-top: map.get($sizes, "base");
  }
  &--header {
    font-weight: 600;
  }
  &--item {
    background-color: map.get($colors, "black");
    border-radius: map.get($rounded, "base");
    color: map.get($colors, "white");
    padding: map.get($sizes, "sm");
    display: flex;
    flex-direction: column;
    gap: map.get($sizes, "xs");
  }
  &--flex {
    display: grid;
    grid-template-columns: 6fr 5fr;
    align-items: center;
    gap: map.get($sizes, "xs");
  }
  &--img {
    width: 100%;
    height: map.get($sizes, "3xl");
    background-color: map.get($colors, "blueDarker");
    border-radius: map.get($rounded, "base");
  }
  &--tc {
    color: map.get($colors, "darkGray");
    text-decoration: underline;
    font-size: map.get($sizes, "sm");
  }
  &--bonus {
    font-weight: 500;
  }
  &--stars {
    margin-top: map.get($sizes, "xxs");
    color: map.get($colors, "yellow");
    svg:last-child{
      color: map.get($colors, "white");
    }
  }
  &--play {
    width: 100%;
    height: map.get($sizes, "5xl");
    display: grid;
    place-content: center;
    font-weight: 500;
    font-size: map.get($sizes, "md");
    border-radius: map.get($rounded, "base");
    @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")));
  }
}