.section-review-grid {
  display: grid;
  column-gap: map.get($sizes, "md");
  grid-template-columns: 1fr;
  @include query(map.get($screens, "md")){
    grid-template-columns: 2fr 1fr;
  }
}

.grid--review {
  grid-area: 1/1/2/2;
  background-color: map.get($colors, "black");
  color: map.get($colors, "white");
  padding: map.get($sizes, "sm") map.get($sizes, "base");
  border-radius: map.get($rounded, "base");
  &--header {
    margin-bottom: map.get($sizes, "xs");
  }
  &--rating {
    display: flex;
    gap: map.get($sizes, "sm");
    color: map.get($colors, "yellow");
    font-size: map.get($sizes, "sm");
    &--stars {
      display: flex;
      gap: map.get($sizes, "xxs");
      color: map.get($colors, "yellow");
    }
    &--amount {
      min-width: fit-content;
      color: map.get($colors, "white");
    }
  }
  &--flex {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: map.get($sizes, "sm");
  }
  &--logo {
    flex: 1;
    min-width: 7.5rem;
    max-width: 8.5rem;
    width: 100%;
    height: map.get($sizes, "4xl");
    background-color: map.get($colors, "green");
    border-radius: map.get($rounded, "xl");
  }
  &--tc {
    color: map.get($colors, "darkGray");
    text-decoration: underline;
    font-size: map.get($sizes, "sm");
  }
  &--offer {
    font-weight: 500;
    flex: 1;
    h3 {
      font-weight: inherit;
    }
  }
  &--bonus {
    flex: 1;
    min-width: fit-content;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      font-weight: inherit;
    }
    &--value {
      color: map.get($colors, "yellow");
      font-weight: 500;
    }
  }
  &--info {
    display: flex;
    flex-direction: column;
    margin-top: map.get($sizes, "sm");
    &--item {
      padding: map.get($sizes, "xs") 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid color.adjust(map.get($colors, "darkGray"), $alpha: -0.7);
      font-weight: 500;
    }
    &--span {
      $color: map.get($colors, "greenBright");
      color: $color;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: color.adjust($color, $alpha: -0.5);
    }
  }
  &--container {
    display: flex;
    gap: map.get($sizes, "sm");
  }
  &--play {
    display: grid;
    place-content: center;
    font-weight: 500;
    border-radius: map.get($rounded, "base");
    width: map.get($sizes, "9xl");
    font-size: map.get($sizes, "md");
    
    @include gradient(200deg, (map.get($colors, "orange"), map.get($colors, "yellow")));
  }
  &-sm {
    margin-top: map.get($sizes, "xl");
    @include query(map.get($screens, "md")){
      grid-area: 3/1/4/3;
    }
    grid-area: 4/1/5/2;
    .grid--review--bonus {
      flex: initial;
    }
    .grid--review--offer {
      flex: initial;
    }
  }
}